/* 暗色模式 Semantic 覆盖 */
.dark
  .ui.segment
    background #333
    box-shadow 0px 1px 2px 0 #0202028c
  .ui.table
    background #333
    color #c9c7c5
    border-color #464444
    th
      background #3e3e3e
      color #e5e5e5
    &>tr:nth-child(2n)
      background-color #8f8f950a