.dark  /* 暗色模式 */
  color #c9c7c5
  h1, h2, h3, h4, h5
    color #efefef
  a 
    color #5bb0ed
  .yaofan .yaofan-bg
    background #000
    border-color #333
.dark .content-container .content-container-inner // 暗色模式 
  s
    color #565656
  mark
    background #366616
    color #f1dbdb
  blockquote
    border-left-color #4c4c4c
    background rgba(217, 221, 224, 0.1)
  code
    border-color #444
    background #111
  ins
    text-shadow 0px 0px 3px #ffc800
    color #fff
  .guide.col img~p
    color #6c6c6c
  .scroll-focus
    background #5a442d
  .local-time-chs, .eorzea-time-chs
    color #c9c7c5
/* 暗色模式 Semantic 覆盖 */
.dark
  .ui.segment
    background #333
    box-shadow 0px 1px 2px 0 #0202028c
  .ui.table
    background #333
    color #c9c7c5
    border-color #464444
    th
      background #3e3e3e
      color #e5e5e5
    tr:nth-child(2n)
      background-color #8f8f950a !important