@import "./colors.styl"
@import "./font.styl"
@import "./map.styl"

#app, .full-height
  height 100%

body, h1, h2, h3, h4, h5, #app .ui.menu
  font-family: 'FFXIV', Lato, Helvetica Neue, "Microsoft Yahei", "微软雅黑", Arial, Helvetica, sans-serif;

::-webkit-scrollbar-track
  -webkit-box-shadow inset 0 0 6px rgba(0,0,0,0.3)

::-webkit-scrollbar-thumb
  -webkit-border-radius 10px
  border-radius 10px
  background rgba(255, 255, 255, 0.4)
  -webkit-box-shadow inset 0 0 6px rgba(0,0,0,0.5)

::-webkit-scrollbar-thumb:window-inactive
	background rgba(255, 255, 255, 0.8)

.guide
  margin-bottom 1em
  &.cols2, &.cols3
    display flex
    justify-content center
    align-items center
    &.base
      align-items baseline
    &.top-align
      align-items flex-start
    flex-wrap wrap
    img
      border-radius 8px
      &.no-zoom
        border-radius 0
    .col
      margin 0 1em
    &.comp
      .col
        margin 0 0.5em
      td
        padding 0.2em 0.5em
        white-space nowrap
    .col.grow
      flex 1
    .col.figcap
      display flex
      flex-direction column
      text-align center
      img 
        margin 0 auto
      > p:first-child
        margin-bottom 0.2em
  &.cols2 .col.grow
    flex-basis 370px
  &.cols3 .col.grow
    flex-basis 250px

.center
  display flex
  justify-content center
  align-items center

@media screen and (min-width 425px) /* 电脑 */
  .guide
    &.cols2, &.cols3
      .col:first-child
        margin-left 0 !important
      .col:last-child
        margin-right 0 !important 

@media screen and (max-width 425px) /* 手机 */
  .md-table::before
    content '※ 左右滑动以浏览完整表格'
    position sticky
    left 0
    font-size 0.9em
    color #888
  .md-table
    font-size 0.9em
    width 100%
    overflow-x auto
    position relative
    table.ui.table
      width 100% /* 不锁了，手机需要超宽的直接HTML写宽度 */
      td
        max-width 75vw
