// 移植自 theme/layouts/Layout.vue 的页面骨架样式
#root {
  background: repeating-linear-gradient(
    0deg,
    #f8f8f8,
    #f8f8f8 1px,
    white 1px,
    white 2px
  );
  transition: all 0.5s;
}
[data-theme='dark'] #root {
  background: #1b1c1d;
}
.home-page .content-container .content-container-inner {
  max-width: 100%;
}
.main-container {
  display: flex;
  flex-direction: row;
}
.nav-menu {
  order: 1;
}
.content-outer {
  order: 2;
  flex: 1;
  margin-top: 40px;
  padding-left: 290px;
  width: 100%;
  min-width: 0;

  min-height: 100vh;
  @media screen and (max-width: 1200px) and (min-width: 961px) {
    padding-left: 250px;
  }
  @media screen and (max-width: 960px) {
    padding-left: 0;
  }
  &.fullscreen {
    padding-left: 260px;
    overflow: hidden;
    @media screen and (max-width: 1200px) and (min-width: 961px) {
      padding-left: 240px;
    }
    @media screen and (max-width: 960px) {
      padding-left: 0;
    }
  }
}
@media screen and (min-width: 961px) {
  .hide-large {
    display: none !important;
  }
}
@media screen and (max-width: 960px) {
  .hide-small {
    display: none !important;
  }
}
