.status-area{
	
}

.status-area img{
	width: 1.1rem;
	position: absolute;
	margin-left: 0rem;
	margin-top: -0.05rem;
}

.status-area:hover{
	background: rgba(170, 15, 15, 0.1)!important;
}

.ui-body-c, .ui-link:visited, .ui-link {
	text-decoration: none;
} 

.ui-body-c .ui-link:visited {
    text-decoration: none;
	text-shadow: 0 0px 2px #222;
	color: #AA0F0F;
	font-weight: 500;
}

.ui-body-c .ui-link{
	font-weight: 500;
}

.status-area{
	cursor: pointer;
	text-decoration: none;
	text-decoration: none;
	color: #BF1717!important;
	font-weight: 500;
}